<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Khan Academy API Explorer</title>
        <link rel="shortcut icon" href="http://www.khanacademy.org/favicon.ico?leaf">
        <script type="text/javascript">
            window.explorer = {
                isLoggedIn: {{"true" if is_logged_in else "false"}}
            };
        </script>
        {% if prod %}
        <script type="text/javascript" data-main="{{ url_for('static', filename='js/main_%s.js' % js_version) }}" src="{{ url_for('static', filename='third_party/js/require.min.js') }}"></script>
        {% else %}
        <script type="text/javascript" data-main="{{ url_for('static', filename='js/app.js') }}" src="{{ url_for('static', filename='third_party/js/require.min.js') }}"></script>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='third_party/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='third_party/css/prism.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='third_party/css/museo-sans.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
    </head>
    <body>
        <div class="banner">
            <div class="container">
                <div class="row">
                    <div class="text-hero col-lg-6 col-offset-5 col-11">
                        <a href="http://khanacademy.org">
                            <img class="logo" src="{{ url_for('static', filename='img/ka-simplified-logo-white.png') }}">
                        </a>
                        <p>Khan Academy</p>
                        <p>API Explorer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="content" class="content"></div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-offset-5 col-lg-2">
                        <img src="{{ url_for('static', filename='img/khan-logo-vertical-transparent.png') }}">
                    </div>
                </div>
                <div class="row copy">
                    <div class="col-lg-12">
                        Khan Academy © 2013 Except where noted, all rights reserved.
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
